<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<meta charset="UTF-8">
		<username>user</username> 
		<script type="text/javascript" src="/springmvc/js/json2.js"></script>
		<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/springmvc/js/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="/springmvc/js/login.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="/springmvc/css/bootstrap.min.css" rel="stylesheet">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/springmvc/js/bootstrap.min.js"></script>
	
		<script type="text/javascript">
		
			$(document).ready(function(){
				login();
				selectUsers();
				 $("#addButton").click(function(){
					 addArticle();
					 
				 }); 
			});
			function addArticle(){
				
	 			var username = $("#new_username").val();
	 			var email = $("#new_email").val();
	 			var password = $("#new_password").val();
	 			var admin = $("#new_admin").val();
	 			//alert(username+password+admin);
	 			var user = {username:username,email:email,password:password,admin:admin};
	 			
	 			//var user_val  = JSON.stringify(user);
	 			
	 			$.ajax({
	 				 type: "POST",
	 				 contentType : 'application/json;charset=utf-8',
	 		            url: "/springmvc/admin/user" ,
	 		            data: JSON.stringify(user),   
	 		            dataType: 'text', //返回数据类型
	 		            success: function () {
	 		            	alert("add done");
	 		            	location.reload(true);
	 		            	
	 		            },
	 		            error: function (e) {
	 		                alert("error:"+e);
	 		            }
	 			});
			}
			 	  function updateArticle(id){
			 		
			 			var userid = $("#user_id"+id).text();
			 			var username = $("#input_username"+id).val();
			 			var email = $("#input_email"+id).val();
			 			var password = $("#input_password"+id).val();
			 			var admin = $("#input_admin"+id).val();
			 		//	alert(id+username+author+password+admin);
			 			var user = {id:userid,username:username,email:email,password:password,admin:admin};
			 			
			 			//var user_val  = JSON.stringify(user);
			 			
			 			$.ajax({
			 				 type: "PUT",
			 				 contentType : 'application/json;charset=utf-8',
			 		            url: "/springmvc/admin/user" ,
			 		            data: JSON.stringify(user),   
			 		            dataType: 'text', //返回数据类型
			 		            success: function () {
			 		            	alert("update done");
			 		            	location.reload(true);
			 		            },
			 		            error: function (e) {
			 		                alert("error:"+e);
			 		            }
			 			});
			 		
			 	  }
			 	  
			 	  
			 	  function selectUsers(){
			 		 /** 获取上一次选中的部门数据 */
				 	   var boxs  = $("input[type='checkbox'][id^='box_']");
				 	   
				 	  /** 给数据行绑定鼠标覆盖以及鼠标移开事件  */
				    	$("tr[id^='data_']").hover(function(){
				    		$(this).css("backgroundColor","#eeccff");
				    	},function(){
				    		$(this).css("backgroundColor","#ffffff");
				    	})
				    	
				    	
				 	   /** 删除用户绑定点击事件 */
				 	   $("#delete_button").click(function(){
				 		   /** 获取到用户选中的复选框  */
				 		   var checkedBoxs = boxs.filter(":checked");
				 		   if(checkedBoxs.length < 1){
				 			   alert("请选择一个需要删除的用户！");
				 		   }else{
				 			   /** 得到用户选中的所有的需要删除的ids */
				 			   var ids = checkedBoxs.map(function(){
				 				   return this.value;
				 			   })
				 			    if( window.confirm("确认要删除吗?")){
				 					 deleteuser(ids); 

				 			    }
				 		   }
						});
			 	  }
			    	function deleteuser(ids) {
			    		var i = 0;
			    		var idlist = ids.get();
			    		var userids = "{\"userids\":";
						//alert(userids);
						if(ids.length==1){
							userids = userids+"[{\"id\":\""+idlist[0]+"\"}]}"
						}
						else{
							userids = userids+"[";
							for(var id in idlist){
				    			i++;
				    			if(i<ids.length){
				    				userids = userids+"{\"id\":\""+idlist[i-1]+"\"},";
				    			}else{
				    				
				    				userids = userids+"{\"id\":\""+idlist[i-1]+"\"}]}";
				    			}
				    		}
			    		}
						
			    	
			            $.ajax({
			                
			            	 contentType : 'application/json;charset=utf-8',
				                type: "DELETE",
				                url: "/springmvc/admin/user",
				                data:userids,
				                
				                dataType: 'text', 
				                async: true,
				                success: function (response) {
				                	alert(response);
				                	location.reload(true);
 			                     
			                },
			                error: function (e) {
			                    alert("users doesn't found or "+e);
			                }
			            });
			    	} 
			
		</script>
	</head>
	<admin style="padding:70px">
	 	<!-- header 开始-->
		<div class="container">
			<div class="row clearfix">				
				<div class="col-md-12 column">
				    <!-- 导航条 开始-->
					<div th:replace="nav.html :: copy"></div>
					<!-- 导航条 结束 -->	
				</div>	 	
					
			</div>
		</div>
		 <!-- header 结束-->
		<hr>
		
		<div class="container">
			<!-- 内容区 开始-->
			<div class="row clearfix">
				<hr>
				<div>
					<p>
						该页面提供管理员对用户进行CRUD的功能。
					
					</p>
				
				
				</div>
			<button id="adduser" data-toggle="modal" data-target="#addModal" >新增用户</button>
			<!-- 模态框（Modal） -->
				<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-username" id="myModalLabel">
									新增
								</h4>
							</div>
							<div class="modal-admin">
								<div>username:<input  id="new_username" class="userUsername"></input></div>               
					            <div>password:<input  id="new_password" class="userPassword" ></input></div>
					            <div>admin:<input  id="new_admin" class="userAdmin"></input> </div>
					            <div>email:<input  id="new_email" class="userEmail"></input> </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭
								</button>
								<button id="addButton" type="button" class="btn btn-primary">
									新增
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal -->
				</div>
				<table class="table">
					<thead>
						<tr><td><button id="delete_button" class="btn btn-primary" data-loading-text="删除中..." type="button">删除</button></td></tr>
						<tr>
							
							<th>id</th> 
							<th>用户名</th>					
							<th>权限等级</th>
							<th>操作</th>
						</tr>
					</thead>
					<tadmin>
					    
						<tr th:each="user : ${users}">
							
							 	<td><input type="checkbox" id="box_${user.id}" th:value="${user.id}"></td>
								<td><p th:text="${user.username}"></p></td>
							    <td><p th:text="${user.admin}"></p></td>
							    <td><button th:id="'change_'+${user.id}" type="button" class="btn btn-primary" data-loading-text="Loading..."  data-toggle="modal" data-target="#updateModal" th:attr="data-target='#updateModal_'+${user.id}">修改</button>
							    	<!-- 模态框（Modal） -->
									<div class="modal fade" th:id="'updateModal_'+${user.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
												<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
														&times;
													</button> -->	
													<button type="button" class="close" data-dismiss="modal" >
														&times;
													</button>
													<h4 class="modal-username" id="myModalLabel">
														 修改
													</h4>
												</div>
												<div class="modal-admin">
													<div><p th:id="'user_id'+${user.id}" class="id" th:text="${user.id}" ></p> </div>
													<div>username:<input  th:id="'input_username'+${user.id}" class="userUsername" th:value="${user.username}" ></input> </div>               
						            				<div>email:<input  th:id="'input_email'+${user.id}" class="userEmail" th:value="${user.email}"></input> </div>
										            <div>password:<input  th:id="'input_password'+${user.id}" class="userPassword" th:value="${user.password}" ></input></div>
										            <div>admin:<input  th:id="'input_admin'+${user.id}" class="useradmin" th:value="${user.admin}"></input> </div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">关闭
													</button>
													<button id="changeButton" type="button" class="btn btn-primary" th:onclick="'javascript:updateArticle('+${user.id}+');'">
														修改
													</button>
												</div>
											</div><!-- /.modal-content -->
										</div><!-- /.modal -->
									</div>
									<!-- 模态框结束 -->
							    </td>
								
						</tr>
						
					
					</tadmin>
				</table>
			
					
			</div>
			<!-- 内容区 结束 -->
		</div>
	</admin>
	<hr>
	<footer  th:replace="footer.html :: copy"></footer>

 
</html>