<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Artcle</title>
<script type="text/javascript" src="/springmvc/js/jquery-1.11.0.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var user;
		
		if(user==''||user==null){
			$("#user").text("游客");
		}else{
			$("#user").text(user);
		}
	});
	</script>
</head>
<body>
  <p>hello world<p/>
  <p id="user">用户名 </p><br/>
  <p id="username" text="${username}"></p><br/>
  <div id="artcle">
        <h1>artcle</h1>
        <ul id="artcle">
          <li th:id="${artcle.artcleId}">
               <div><p class="artcleTitle" th:text="${artcle.title}" >artcle title</p>
                   
               </div>
               
            <div><p class="artcleAuthor" th:text="${artcle.author}">artcle body</p> </div>
            <div><p class="artcleTags" th:text="${artcle.tags}" >artcle tags</p></div>
            <div><p class="artcleBody" th:text="${artcle.body}">artcle body</p> </div>
          <!-- <div><p class="artclecreatetime" th:text="${artcle.createtime}">artcle createtime</p> </div> --> 
            <!-- <div><p class="artcleCreateTime" th:text="${artcle.createtime=null} ? 
            ${#dates.format(artcle.createtime,'yyyy/MM/dd')} : 'null'  " >artcle CreateTime</p> </div> -->
          </li>
        </ul>
      </div>
</body>
</html>