<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Articles</title>
	<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/springmvc/js/json2.js"></script>
	<script type="text/javascript" src="/springmvc/js/login.js"></script>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="/springmvc/css/bootstrap.min.css" rel="stylesheet">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/springmvc/js/bootstrap.min.js"></script>

	<script type="text/javascript">
	
	$(document).ready(function(){
		
		login();
			
			
	});
	
	</script>
</head>
<body style="padding:70px">
	<div class="container">
		<div class="row clearfix">
	
			<!-- header 开始-->
			<div class="col-md-12 column">
			    <!-- 导航条 开始-->
			    <div th:replace="nav.html :: copy"></div>
				
			</div>
			<!-- header 结束 -->
			
		
			<!-- 轮播图 开始 -->		
			<!-- <div th:replace="lunbo.html :: copy"></div> -->
			<!-- 轮播图 结束 -->				
			<div class="col-md-12 column">
				<div class="jumbotron">
					<h1>
						Hello, world!
					</h1>
					<p>
						FOR LIFE    FOR FUN
					</p>
					
				</div>
			</div>
			<!-- 内容区 开始-->
			<div class="col-md-12 column">
				<table class="table">
					<thead>
						<tr>
							<th>
								<h3>文章列表</h3>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="article : ${articles}" >
							<td>
							    <div th:id="'article_' + ${article.articleId}">
							    	<h4 th:text="${article.title}"></h4>
									<p th:text="${article.body}"></p>
									<p>
										<a class="btn" th:href="'/springmvc/articles/'+${article.articleId}">详情</a> 
									</p> 
							    </div>
							</td>		
						</tr>
					</tbody>
				</table>
			</div>
			<!-- 内容区 结束 -->
		</div>
	</div>
	 
</body>


<!-- Footer 开始 -->
    <footer  th:replace="footer.html :: copy"></footer>
<!-- Footer 结束 -->
</html>