<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<meta charset="UTF-8">
		<title>登陆</title>
		<script type="text/javascript" src="/springmvc/js/json2.js"></script>
		<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/springmvc/js/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="/springmvc/js/login.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="/springmvc/css/bootstrap.min.css" rel="stylesheet">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/springmvc/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		
			$(document).ready(function(){
				
				login();
					
					
			});
			//当重新输入时 清空消息区
			
		</script>
	</head>
	<body style="padding:70px">
	 	<!-- header 开始-->
		<div class="container">
			<div class="row clearfix">				
				<div class="col-md-12 column">
				    <!-- 导航条 开始-->
					<div th:replace="nav.html :: copy"></div>
					<!-- 导航条 结束 -->	
				</div>	 	
					
			</div>
		</div>
		 <!-- header 结束-->
		<hr>
		
		<div class="container">
			<div class="row jumbotron clearfix">
				<h1>
					您以被踢出。
				</h1>
			</div>
			<!-- 内容区 开始-->
			<div class="row clearfix">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
               

            	</div>
			</div>
			<!-- 内容区 结束 -->
		</div>
	</body>
	<hr>
	<footer  th:replace="footer.html :: copy"></footer>

 
</html>