<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>listArtcles</title>

	<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/springmvc/js/json2.js"></script>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//var user ;
		//if(user==''||user==null){
		//	$("#user").text("游客");
		//}else{
		//	$("#user").text(user);
		//}
		 /** 删除员工绑定点击事件 */
	 	  
		
	});
	function deleteArtcle(artcleid) {
        $.ajax({
            
            type: "DELETE",
            url: "/springmvc/artcles/"+artcleid ,  
            async: true,
            success: function (response) {
            	alert("删除成功");
            	window.location.reload();
            	
            },
            error: function (e) {
                alert("artcles doesn't found");
            }
        });
    }
	</script>

</head>
<body>
  <p>文章列表<p/>
  <p id="user">用户名 </p><br/>
  <p id="username" th:text="${user.username}"></p><br/>
  <div id="artclelist">
        <h1>artcles</h1>
        <ul id="artcleList">
          <li th:each="artcle : ${artcles}" 
              th:id="'artcle_' + ${artcle.artcleId}">
               <div><p class="artcleTitle" th:text="${artcle.title}" >artcle title</p> </div>
               
            <div><p class="artcleAuthor" th:text="${artcle.author}">artcle body</p> </div>
            <div><p class="artcleTags" th:text="${artcle.tags}" >artcle tags</p></div>
            <div><p class="artcleBody" th:text="${artcle.body}">artcle body</p> </div>
            <div><span  th:text="${artcle.createtime}">createtime</span> </div>
            <div><a th:href="'/springmvc/artcles/'+${artcle.artcleId}">详情</a></div>
            <div><button th:onclick="'javascript:deleteArtcle('+${artcle.artcleId}+')'" >删除</button></div>
           
            
          </li>
        </ul>
      </div>
</body>
</html>