<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<meta charset="UTF-8">
		<title>Artcle</title>
		<script type="text/javascript" src="/springmvc/js/json2.js"></script>
		<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/springmvc/js/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="/springmvc/js/login.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
		<script type="text/javascript">
		
			$(document).ready(function(){
				
					
					
					
			});
			//当重新输入时 清空消息区
			
		</script>
	</head>
	<body style="padding:70px">
	 	<!-- header 开始-->
		<div class="container">
			<div class="row clearfix">				
				<div class="col-md-12 column">
				    <!-- 导航条 开始-->
					<div th:replace="nav.html :: copy"></div>
					<!-- 导航条 结束 -->	
				</div>	 	
				<!-- 轮播图 开始 -->		
				<div th:replace="lunbo.html :: copy"></div>
				<!-- 轮播图 结束 -->		
			</div>
		</div>
		 <!-- header 结束-->
		<hr>
		
		<div class="container">
			<!-- 内容区 开始-->
			<div class="row clearfix">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
               

	                <form action="/springmvc/login" method="POST" name="loginform" id="loginForm" >
	                	<input type="hidden" name="flag" value="2">
	                    <div class="row control-group">
	                        <div class="form-group col-xs-12 floating-label-form-group controls">
	                            <label>用户名</label>
	                            <input type="text" class="form-control" name="username" id="username" />
	                            
	                        </div>
	                    </div>
	                    <div class="row control-group">
	                        <div class="form-group col-xs-12 floating-label-form-group controls">
	                            <label>密码</label>
	                            <input type="password" class="form-control" name="password" id="password"/>
	                           
	                        </div>
	                    </div>
	                   
	                    <div class="row">
	                        <div class="form-group col-xs-12">
	                            <button type="submit" class="btn btn-default">登录</button>
	                        </div>
	                    </div>
	                </form>
            	</div>
			</div>
			<!-- 内容区 结束 -->
		</div>
	</body>
	<hr>
	<footer  th:replace="footer.html :: copy"></footer>

 
</html>