<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
		
	<head>
		<meta charset="UTF-8">
		<title>register</title>
		<script type="text/javascript" src="/springmvc/js/json2.js"></script>
		<script type="text/javascript" src="/springmvc/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/springmvc/js/jqBootstrapValidation.js"></script>
		<script type="text/javascript" src="/springmvc/js/login.js"></script>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="/springmvc/css/bootstrap.min.css" rel="stylesheet">
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="/springmvc/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		
			$(document).ready(function(){
				
			});
			
			function register(){
				console.log("register");
				
				if(checkUsername()=="true"&&checkPassword()=="true"){			
						console.log("check done");			
						addUser();			
				}
			}
			
	function checkUsername(){
		var result = "false";
				var username = $("#username").val();
				if(username!=""&&username!=null){
					var user = {username:username};
					  $.ajax({
		 				 type: "POST",
		 				async:false,
		 				 contentType : 'application/json;charset=utf-8',
		 		            url: "/springmvc/register/checkUsername" ,
		 		            data: JSON.stringify(user),   
		 		            dataType: 'text', //返回数据类型
		 		            success: function (message) {
		 		            	if(message=="yes"){
		 		            		$("#checkResult").empty();
		 		            		$("#checkResult").prepend("<div class=\"input-group\" >用户名"+username+"可用</div>");
		 		            		
		 		            		console.log("用户名可用");
		 		            		result = "true";
		 		            		
		 		            	}
		 		            	else{
		 		            		$("#checkResult").prepend("<div class=\"input-group\" >用户名"+username+"不可用</div>");
		 		            		
		 		            		console.log("用户名不可用");
		 		            		result = "false";
		 		            	}
		 		            	
		 		            },
		 		            error: function (e) {
		 		            	$("#checkResult").prepend("<div class=\"input-group\" >"+e+"</div>");
		 		            	
		 		            	console.log("网络错误");
		 		            	result = "false";
		 		            }
		 			});
					
				}
				else{
					$("#checkResult").prepend("<div class=\"input-group\" >用户名不能为空</div>");
				
					console.log("用户名为空");
					result = "false";
				}
				console.log("result::"+result);
				return result;
				
			}
			function checkPassword(){
				//alert("checkpassword");
				var password = $("#password").val();
				var password_re = $("#password_re").val();
				if(password!=""&&password!=null){
				if(password==password_re){
					$("#checkResult").empty();
	            		$("#checkResult").prepend("<div class=\"input-group\" >密码可用</div>");
	            		
	            		console.log("密码可用");
	    				
	            		return "true";
				}else{
					$("#checkResult").empty();
	            		$("#checkResult").prepend("<div class=\"input-group\" >两次密码不一致</div>");
	            	
	            		console.log("密码不一致");
	    				return "false";
				}
				}
				else{
					$("#checkResult").prepend("<div class=\"input-group\" >密码不能为空</div>");
					
					console.log("密码为空");
					return "false";
				}
				
			}
		
			
			function addUser(){
				console.log("adduser");
	 			var username = $("#username").val();
	 			var email = $("#email").val();
	 			var password = $("#password").val();
	 			
	 			alert(username+password+email);
	 			var user = {username:username,email:email,password:password};
	 			
	 			var user_val  = JSON.stringify(user);
	 			
	 			$.ajax({
	 				 type: "POST",
	 				 contentType : 'application/json;charset=utf-8',
	 		            url: "/springmvc/register/addUser" ,
	 		            data: JSON.stringify(user),   
	 		            dataType: 'text', //返回数据类型
	 		            success: function (message) {
	 		            	alert( message);          		
	 		            },
	 		            error: function (e) {
	 		                alert("error:"+e) ;
	 		            }
	 			});
			}
			
			
		</script>
	</head>
	<body style="padding:70px">
	 	<!-- header 开始-->
		<div class="container">
			<div class="row clearfix">				
				<div class="col-md-12 column">
				    <!-- 导航条 开始-->
					<div th:replace="nav.html :: copy"></div>
					<!-- 导航条 结束 -->	
				</div>	 	
					
			</div>
		</div>
		 <!-- header 结束-->
		<hr>
		
		<div class="container">
			<div class="row jumbotron clearfix">
				<h1>
					Hello! Have Fun!
				</h1>
			</div>
			<!-- 内容区 开始-->
			<div class="row clearfix">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
               

	               
	                   <div class="input-group">
							<span class="input-group-addon">邮箱</span>
							<input type="text" name="email" id="email" class="form-control" placeholder="找回密码时使用">
						</div><br>
						<div class="input-group" id="usernameGroup">
							<span class="input-group-addon">用户名</span>
							<input onchange="checkUsername()" type="text" name="username" id="username" class="form-control" placeholder="登录名">
						</div><br>
						<div class="input-group">
							<span class="input-group-addon">登陆密码</span>
							<input type="password" name="password" id="password" class="form-control" placeholder="***">
						</div><br>
						<div class="input-group">
							<span class="input-group-addon">再次输入密码</span>
							<input onchange="checkPassword()" type="password" name="password" id="password_re" class="form-control" placeholder="***">
						</div><br>
						<div id="checkResult" class="input-group">
							
						</div><br>
	   					<div class="row">
	   					     
	                        <div class="form-group col-xs-4">
	                            <button type="button" class="btn btn-default"  id="btSubmit" onclick="register()" >注册</button><br>
                             <p th:text="${message}"></p>
	                        </div>
	                       
	                    </div>                  
            	</div>
			</div>
			<!-- 内容区 结束 -->
		</div>
	</body>
	<hr>
	<footer  th:replace="footer.html :: copy"></footer>

 
</html>